@use '../core/variables' as *;

.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-light;
  padding: 2rem;

  .auth-card {
    background-color: #e0e7ff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(30, 41, 59, 0.15);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem; // espai generós entre seccions de la card

    h1 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        color: $accent-blue;
        margin-bottom: 1rem;
      }
    p {
      color: $accent-blue;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem; // lleuger espai entre títol, inputs i botó

      

      input {
        width: 100%;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #cbd5e1;
        background-color: $bg-light;
        color: $text-dark;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: $accent-blue;
          box-shadow: 0 0 0 3px rgba(147,197,253,0.3);
        }
      }

      button {
        width: 100%;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        font-weight: 600;
        background-color: $accent-blue;
        color: $bg-light;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: darken($accent-blue, 10%);
        }
      }
    }

    .forgot-password {
      text-align: center;
      margin-bottom: 1rem;

      a {
        font-size: 0.9rem;
        color: $accent-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .create-account {
      button {
        width: 100%;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        font-weight: 600;
        background-color: lighten($accent-blue, 20%);
        color: $text-dark;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: lighten($accent-blue, 15%);
        }
      }
    }
  }
}





